.header-color  {


}

.Nav {
  font-weight: bold;

}

.landing-grid {

    
text-align:center;
}

.avatar-img {
height: 250px;
 border-radius: 50%;
}

.banner-text {
  background-color: black;
  opacity:.7;
  width:75%;
  margin:auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color:white;

}

.banner-text hr {
  border-top: 5px straight white ;
  width: 70%;
  margin: auto;
}

.social-links i {
  width: 20px; height: 20px; margin: 0 60px 50px 0;
  font-size: 4em;
}